body {
    font-size: 15px;
    font-weight: 40px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-background {
    position: absolute;
    left: 0px;
    top: 0px;
}

.bottom-background {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.contenedor_padre {
    width: 1080px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "contenedor_encabezado resultados" "perfiles perfiles";
}

.contenedor_encabezado {
    grid-area: contenedor_encabezado;
    width: 80%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.contenedor_encabezado h1 {
    color: rgb(207, 67, 235);
    font-size: 45px;
    font-weight: 100px;
    line-height: 45px;
    margin-bottom: 0px;
}

.contenedor_encabezado p {
    color: rgb(207, 67, 235);
}

.resultados {
    grid-area: resultados;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nivel {
    background-color: #f7f2f8;
    border-radius: 5%;
    background-size: cover;
    width: 65%;
    height: 15%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recuadro1 {
    align-self: flex-start;
}

.recuadro2 {
    align-self: center;
}

.recuadro3 {
    align-self: flex-end;
}

.estrellitas {
    width: 25%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.resultados p {
    margin-left: 5%;
    color: rgb(207, 67, 235);
    font-weight: 700;
}

.perfiles {
    grid-area: perfiles;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
}

.tarjeta_general {
    background-color: rgb(207, 67, 235);
    margin: 10px;
    border-radius: 5%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta_contenido {
    width: 90%;
    height: 90%;
}

.tarjeta1 {
    align-self: flex-start;
}

.tarjeta2 {
    align-self: center;
}

.tarjeta3 {
    align-self: flex-end;
}

.perfil {
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.perfil img {
    border-radius: 50%;
    margin-right: 5%;
    margin-left: 5%;
    transform: scale(0.9);
}

.nombre_perfil {
    margin-bottom: 2px;
    color: white;
    font-weight: 50px;
}

.estado_perfil {
    margin-top: 2px;
    color: violet;
}

.comentario_perfil {
    color: white;
    line-height: 25px;
    margin-top: 7%;
    font-size: 15px;
    text-align: justify;
}